.sideBarContainer {
  width: 10rem;
  height: 100%;
  background-color: #fff;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}
.logo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 3rem;
  cursor: pointer;
}
.sideBarTop {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  /* align-content: end; */
}
.sideBarBottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: start;
  justify-items: center;

  padding-bottom: 1rem;
}
